@import "scss/reset";
@import "scss/globals";

h2 {
  margin: {
    top: 24px;
    bottom: 16px;
  }
  text-shadow:
    0 2px 0 rgba(0, 0, 0, 0.05),
    0 3px 0 rgba(0, 0, 0, 0.02);
  text-align: center;
  font-weight: 500;
}

@keyframes cardAnimation {
  60% {
    background-size: 100vmax 100vmax;
    background-position-x: 60%;
    background-position-y: 60%;
  }
}

@keyframes cardGradient {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
  }
  100% {
    background-position: 0% 10%;
  }
}

.fade {
  visibility: hidden;
  opacity: 0;
  transition: 2s ease;

  &.in {
    visibility: visible;
    opacity: 1;
  }
}

.card-wrapper {
  box-sizing: border-box;
  position: relative;
  color: $text-color;
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 24px;
  display: grid;
  margin-bottom: 24px;
  grid-template-rows: 1fr auto;
  font: {
    size: 14px;
  }
  -webkit-font-smoothing: antialiased;
  box-shadow: $card-shadow;

  &.digital {
    background-size: 100vw 100vh;
    animation: {
      name: cardAnimation;
      duration: 10s;
      iteration-count: infinite;
    }
    transform: translateZ(0);
    color: black;
    position: relative;

    img {
      $shadow-color-light: rgba(255, 255, 255, 0.3);
      $shadow-color-dark: rgba(0, 0, 0, 0.12);
      $shadow-color-bright: rgba(255, 255, 255, 1);

      filter: drop-shadow(0px 1px 0px $shadow-color-light) drop-shadow(0 2px 16px $shadow-color-dark)
        drop-shadow(0px 0px 12px $shadow-color-bright);
    }

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      box-shadow:
        0 -1px 0 0 rgb(255 255 255 / 90%),
        0 1px 0 0 rgb(0 0 0 / 20%);
      position: absolute;
      z-index: -1;
      border-radius: 10px;
    }

    &:after {
      content: "";
      z-index: -1;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: linear-gradient(
          120deg,
          rgb(255 255 255 / 2%) 30%,
          rgb(255 255 255 / 25%) 40%,
          rgb(255 255 255 / 8%) 40%
        ),
        linear-gradient(0deg, rgb(255 255 255 / 20%), rgb(255 255 255 / 30%));
      background-size: 150% 150%;
      animation: cardGradient 45s ease-in-out infinite;
      transform: translateZ(0);
      position: absolute;
    }

    @each $variant,
      $image
        in (
          one: "snowy-mint.jpg",
          two: "egg-sour.jpg",
          three: "columbia-blue.jpg",
          four: "my-pink.jpg",
          five: "buttercup.jpg",
          six: "cream-whisper.jpg",
          seven: "honeysuckle.jpg",
          eight: "tonys-pink.jpg"
        )
    {
      &.#{$variant} {
        background-image: url("../images/#{$image}");
      }
    }

    color: #1a1d21;
  }
}

.card {
  position: absolute;
  top: calc(74.5% - 4.2em);
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 4.2vw;
  font-weight: 300;
  color: #000;
}

.button {
  position: relative;
  top: 0;
  left: 0;
  opacity: 0.5;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 0.4em;
  border: 3px solid rgba(255, 255, 255, 0.2);
}

.patterns {
  top: calc(64.5% - 4.2em);
  .patterns-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3px;
    padding: 0 2em;

    .pattern {
      position: relative;
      background-color: rgba(0, 0, 0, 0.075);
      text-align: center;
      padding: 20px 10px;
      border-radius: 10px;
      overflow: hidden;
      height: auto;
      transition: 200ms ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.175);
        transition: 200ms ease-out;
        transform: scale(1.15);

        p {
          transition: 200ms ease-out;
          color: #fff;
        }
      }

      p {
        transition: 200ms ease-out;
        position: absolute;
        bottom: 10%;
        right: 10%;
        font-size: 0.35em;
        font-weight: 200;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
}
